<div class="panel panel-default">
   <div class="panel-body" style="border:none">
      <img src="/images/products/{{item.id}}.jpg" alt="{{item.name}}"/>
      <strong>{{item.desc}}</strong>
   </div>
</div>
<div class="containter-fluid">
   <div class="row">
      <div class="col-md-8">
         <table class="table table-bordered">
            <tr class="well">
               <td colspan="4" class="h3">
                  <cart-infor ng-isShow="true"></cart-infor>
               </td>
            </tr>
            <tr class="well"><th class="h3">营养介绍</th><th class="h3">营养值</th><th class="h3">综合评价</th></tr>
            <tr><td><span class="h4">热量</span></td><td colspan="2" class="h2 textCenter">{{item.hot}}</td></tr>
            <tr ng-repeat="(key,value) in item.nutriemts">
               <td><span class="h4">{{key}}{{value}}</span></td>
               <td class="textCenter"><img  src="/images/r{{value}}.png" alt="您的图片暂时无法显示，请刷新页面~~" /></td>
               <td><span class="h4"><b>{{content[value]}}:</b>{{proportion[value]}}</span></td>
            </tr>
         </table>
      </div>
      <div class="col-md-4">
         <button type="button" class="btn btn-success btn-block"  ng-click="addToCart(item.id,item.price)">添加到购物车</button>
         <button type="button" class="btn btn-warning btn-block" ng-click="remove(item.id)">从购物车移除</button>
         <button type="button" class="btn btn-primary btn-block" ng-click="home()">返回首页</button>
      </div>
   </div>
</div>
